$background: #fff;

.changebar {
  background-color: $background;
  position: absolute;
  width: 300px;
  text-align: left;
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  &.changebar-visible {
    display: block;
  }
  .changebar-text {
    height: 250px;
    overflow: auto;
    padding: 0.5rem;
    word-wrap: break-word;
  }
  h2 {
    font-size: inherit;
    margin: 0 0 0.5rem 0;
  }
  article {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -0.5rem;
    top: -0.5rem;
    background-color: $background;
    box-shadow: -0.25rem -0.25rem 0.25rem rgba(0, 0, 0, 0.04);
    width: 1rem;
    height: 1rem;
    z-index: 10000;
    transform: rotate(45deg);
  }
}

.changebar-unread-count {
  margin-left: 0.5rem;
  display: none;
  &.changebar-unread-count-visible {
    display: inline-block;
  }
}
